* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1f2937;
}

.logo {
    font-size: 18px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 20px;
}

.maintext {
    font-size: 48px;
    color: #f9faf8;
    width: 80%
}

.subtext,
.link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    width: 100%;
    padding: 50px 50px 100px;
    background-color: #1f2937;
}

.top-section {
    background-image: url('images/techBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 150px;
    font-size: 36px;
    
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    padding: 35px 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 0;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 150px;
    background-color: #797a7a;
    color: #f9faf8;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    padding: 150px 150px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #4f4f50;
}

.author {
    font-weight: 900;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 0;
    color: black;
}

.footer {
    background-color: #1f2937;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

button {
    padding: 5px 20px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    height: 650px;
}

.random-info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.grid {
    display: flex;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    gap: 40px;

}

.sm-img {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 150px;
    min-width: 150px;
    font-size: 16px;
    color: #7a7a7a;
    background: white;
    transition: opacity 0.5s;
}

.card.visible {
    opacity: 1;
    pointer-events: auto;
    position: static;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
    padding: 30px 120px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
}

.bottom-button {
    border: 1px solid;
    border-color: white;
}

.carousel {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

.carousel-track {
    overflow: hidden;
    width: 990px;
    /* or whatever fits your design */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}