* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1f2937;
}

.logo {
    font-size: 18px;
    color: #f9faf8;
}

.nav {
    display: flex;
    gap: 20px;
}

.maintext {
    font-size: 48px;
    color: #f9faf8;
    width: 80%
}

.subtext,
.link {
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1f2937;
    padding: 20px 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 150px;
    font-size: 36px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 150px;
    background-color: #797a7a;
    color: #f9faf8;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    padding: 150px 150px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #4f4f50;
}

.author {
    font-weight: 900;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 0;
    color: black;
}

.footer {
    background-color: #1f2937;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

button {
    padding: 5px 20px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}


.info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.random-info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 50px 0;
}

.sm-img {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 150px;
    font-size: 16px;
    color: #7a7a7a;
}

.call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 50px;
    padding: 30px 120px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 5px;
}

.bottom-button {
    border: 1px solid;
    border-color: white;
}